body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#444;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
background:white;
margin:20px;
border-radius:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#eee;
margin:5px;
padding:10px;
display:inline-block;
border-radius:5px;
}

.project{
background:#fafafa;
padding:15px;
margin:10px 0;
border-left:4px solid #0077ff;
}

footer{
text-align:center;
background:#333;
color:white;
padding:15px;
}
