*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* Navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#020617;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

/* Hero */

.hero{
text-align:center;
padding:100px 20px;
background:linear-gradient(135deg,#6366f1,#06b6d4);
}

.hero h1{
font-size:50px;
}

.hero span{
color:#020617;
}

.hero p{
margin-top:10px;
font-size:20px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 25px;
background:white;
color:black;
border-radius:25px;
text-decoration:none;
font-weight:bold;
}

/* Sections */

section{
padding:60px 20px;
text-align:center;
}

h2{
margin-bottom:30px;
}

/* Skills */

.skill-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
}

.skill{
background:#1e293b;
padding:10px 20px;
border-radius:20px;
}

/* Projects */

.project-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#334155;
}

/* Contact */

.links a{
display:inline-block;
margin:10px;
color:#38bdf8;
text-decoration:none;
}

/* Footer */

footer{
text-align:center;
padding:20px;
background:#020617;
}
